<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <script src='jquery-3.3.1.min.js'></script>
        <link rel="stylesheet" href="app.css">
        <script async src="app.js"></script>
        <title>ESP32 - Felica Tero</title>
    </head>
    <body>
    <header>
        <img src="IrrigaAI.png">
    </header>

    <div class="navbar">
        <a href="#"><img width="25" height="25" src="dados.png" alt="dados"/></a>
        <a class="active" href="#"><img width="25" height="25" src="home.png" alt="home"/></a>
        <a href="historico.html"><img width="25" height="25" src="historico.png" alt="historico"/></a>
    </div>
    <div id="corpo">
        <div id="conteudo">
            <div id="previsao">
                <h3>
                    Tempo agora em:
                    <span id="cidade" class="-text"></span>
                </h3>
                <div class="flex-tempo-atual">
                    <span id="tempo-atual" class="-image"><img src="tempo/animated/1.svg" width="100" height="100"></span>
                    <span id="temperatura-atual"></span>
                </div>
                <div id="max-min">
                    <span id="tempo-atual" class="image"><img src="tempo/arrow-min.svg" width="20" height="20"></span>
                    <span id="temp-max-dia" class="text"></span>
                    <span id="tempo-atual" class="image"><img src="tempo/arrow-max.svg" width="20" height="20"></span>
                    <span id="temp-min-dia" class="text"></span>
                </div>
                <div id="max-min">
                    <h3 class="text">Dados Clima:</h3>
                </div>
                <div id="complementos-previsao">
                    <div id="elemento-comp">
                        <h3 id="elemento-label">Vento</h3>
                        <span id="vento-dia" class="text"></span>
                    </div>
                    <div id="elemento-comp">
                        <h3 id="elemento-label">Umidade do Ar</h3>
                        <span id="umidade-dia" class="text"></span>
                    </div>
                    <div id="elemento-comp">
                        <h3 id="elemento-label">Pressão do Ar</h3>
                        <span id="pressao-dia" class="text"></span>
                    </div>
                    <div id="elemento-comp">
                        <h3 id="elemento-label">Precipitação</h3>
                        <span id="precipitacao-dia" class="text"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- BOMBA 1 -->
        <div class="conteudo-dados">
            <div class="dados">
                <h3>Status Bomba 1:</h3>
                <div class="flex-bomba">
                    <img src="tempo/irrigation.svg" width="75" height="75">
                    <span id="status-bomba-atual-1">Desligado</span>
                </div>
                <div class="botao-acionar-bomba">
                    <button id="btn-acionar-bomba-1" onclick="acionarBomba(1)">Acionar Bomba</button>
                </div>
                <div class="max-min">
                    <h3 class="text">Dados Sensor 1:</h3>
                </div>
                <div class="dados-status">
                    <div class="elemento-dados-sensor">
                        <h3 class="elemento-dados-label">Umidade no Solo</h3>
                        <span id="umidade-solo-1" class="text"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- BOMBA 2 -->
        <div class="conteudo-dados">
            <div class="dados">
                <h3>Status Bomba 2:</h3>
                <div class="flex-bomba">
                    <img src="tempo/irrigation.svg" width="75" height="75">
                    <span id="status-bomba-atual-2">Desligado</span>
                </div>
                <div class="botao-acionar-bomba">
                    <button id="btn-acionar-bomba-2" onclick="acionarBomba(2)">Acionar Bomba</button>
                </div>
                <div class="max-min">
                    <h3 class="text">Dados Sensor 2:</h3>
                </div>
                <div class="dados-status">
                    <div class="elemento-dados-sensor">
                        <h3 class="elemento-dados-label">Umidade no Solo</h3>
                        <span id="umidade-solo-2" class="text"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- BOMBA 3 -->
        <div class="conteudo-dados">
            <div class="dados">
                <h3>Status Bomba 3:</h3>
                <div class="flex-bomba">
                    <img src="tempo/irrigation.svg" width="75" height="75">
                    <span id="status-bomba-atual-3">Desligado</span>
                </div>
                <div class="botao-acionar-bomba">
                    <button id="btn-acionar-bomba-3" onclick="acionarBomba(3)">Acionar Bomba</button>
                </div>
                <div class="max-min">
                    <h3 class="text">Dados Sensor 3:</h3>
                </div>
                <div class="dados-status">
                    <div class="elemento-dados-sensor">
                        <h3 class="elemento-dados-label">Umidade no Solo</h3>
                        <span id="umidade-solo-3" class="text"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- BOMBA 4 -->
        <div class="conteudo-dados">
            <div class="dados">
                <h3>Status Bomba 4:</h3>
                <div class="flex-bomba">
                    <img src="tempo/irrigation.svg" width="75" height="75">
                    <span id="status-bomba-atual-4">Desligado</span>
                </div>
                <div class="botao-acionar-bomba">
                    <button id="btn-acionar-bomba-4" onclick="acionarBomba(4)">Acionar Bomba</button>
                </div>
                <div class="max-min">
                    <h3 class="text">Dados Sensor 4:</h3>
                </div>
                <div class="dados-status">
                    <div class="elemento-dados-sensor">
                        <h3 class="elemento-dados-label">Umidade no Solo</h3>
                        <span id="umidade-solo-0" class="text"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr>
        
    </body>
</html>